.main-div {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  touch-action: pan-y;
}

.form-1 {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #f2f2f2;
  padding: 20px;
}

.heading-1 {
  background-color: #0077c0;
  color: #fff;
  padding: 10px;
  margin: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: left;

  padding-left: 20px;
}

.label-1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  color: #333;
}

.label-1-1 {
  padding-bottom: 30px;
}

.common-1 {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ddd;
  background-color: #fff;
  color: #333;
  margin-bottom: 10px;
}

.common-1-1 {
  margin-left: 20px;
  padding: 3px 50px;
}

.common-1:focus {
  border-color: #0077c0;
}

.btn-1 {
  background-color: #0077c0;
  color: #fff;
  border: none;
  padding: 0.75rem 1rem;
  border-radius: 4px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 1rem;
}

.btn-1:hover {
  background-color: #005ea1;
}

@media only screen and (min-width:600px) and (max-width: 800px) {
  input[type="text"]::placeholder {
    font-size: 12px;
  }
}

@media only screen and (min-width:400px) and (max-width: 600px) {
  input[type="text"]::placeholder {
    font-size: 7.9px;
  }

  .label-1-1 {
    display: flex;
    flex-direction: column;
  }

  .common-1-1 {
    margin-left: 0px;
    padding: 0px 0px;
  }
}

@media only screen and (max-width: 400px) {
  input[type="text"]::placeholder {
    font-size: 7px;
  }

  .label-1-1 {
    display: flex;
    flex-direction: column;
  }

  .common-1-1 {
    margin-left: 0px;
    padding: 0px 0px;
  }
}